@import "tailwindcss";
@import "./colors.css";
@import "./fonts.css";
@import "./units.css";

@layer base {
  /*  As of Tailwind V4, border-color defaulted to currentColor. Modified here. */
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    border-color: var(--color-base-border); /* Modify to match your design system. */
  }
}