@theme {
  --text-*: initial;
  --text-xs: 9px;
  --text-xs--line-height: 12px;
  --text-sm: 12px;
  --text-sm--line-height: 16px;
  --text-base: 15px;
  --text-base--line-height: 20px;
  --text-lg: 18px;
  --text-lg-line--height: 24px;
  --text-xl: 24px;
  --text-xl--line-height: 32px;

  --breakpoint-*: initial;
  --breakpoint-xs: 288px; 
  --breakpoint-sm: 576px; 
  --breakpoint-md: 864px; 
  --breakpoint-lg: 1152px; 
  --breakpoint-xl: 1440px; 

  --container-*: initial;
  --container-xs: 288px; 
  --container-xs-sm: 432px; 
  --container-sm: 576px; 
  --container-sm-md: 720px; 
  --container-md: 864px; 
  --container-md-lg: 1008px; 
  --container-lg: 1152px; 
  --container-lg-xl: 1296px; 
  --container-xl: 1440px; 
}